@import url('https://fonts.googleapis.com/css?family={fontName}');

body {
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: {{bgColor}};
    color: {{fontColor}};
    font-family: '{{fontName}}', sans-serif;
    font-size: {{fontSize}}px;
    font-weight: {{fontWeight}};
    height: 100%;
    margin: 0;
    padding: {{padding}}px;
    position: absolute;
    text-align: {{textAlign}};
    width: 100%;
}
